table.post-book-info {
    height: 30%;
}

td.book-image-cell {
    height: 200px;
    width: max-content;
    align-content: center;

}

img.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}