.sidebar {
  width: 220px;
  padding: 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 1rem;
}

.sidebar-inner {
  background: transparent;
}

.sidebar-title {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
}

.sidebar-list {
  margin: 0;
  padding: 0;
}

.sidebar-list li {
  margin: 0.25rem 0;
}

.side_link {
  color: inherit;
  display: inline-block;
  padding: 0.25rem 0;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}