<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="container footer-col-wrapper">
      <div class="row">
        <div class="footer-col col-3 d-flex justify-content-start">
          <ul class="contact-list list-unstyled">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email text-decoration-none" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>

        <div class="footer-col col-6 d-flex justify-content-center">
          {%- include social.html -%}
        </div>

        <div class="footer-col col-3">
          <p>{{- site.description | escape -}}</p>
        </div>
      </div>
    </div>

  </div>

</footer>
