
{%- if site.posts.size > 0 -%}
    <div class="paginator-grid">
        <div class="paginator-col paginator-left">
            <button class="paginator-button" id="previousButton" onclick="previousPage()" aria-label="Previous page">&lsaquo;</button>
        </div>

        <div class="paginator-col paginator-center content-anim">
            <ul class="post-list">
                {%- for post in site.posts -%}
                    {%- include homeList/element.html -%}
                {%- endfor -%}
            </ul>
        </div>

        <div class="paginator-col paginator-right">
            <button class="paginator-button" id="nextButton" onclick="nextPage()" aria-label="Next page">&rsaquo;</button>
        </div>
    </div>

{%- endif -%}
