<!--------------------- Pagination ----------------------->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" id='previousButton' onclick='previousPage()'>
                Prev
            </button>
        </li>
        <li class="page-item w-25"><span id="indexer" class="page-link text-center"></span></li>
        <li class="page-item">
            <button class="page-link" id="nextButton" onclick="nextPage()">
                Next
            </button>
        </li>
    </ul>
  </nav>