<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- comment -%} Header removed — using left sidebar for navigation and links {%- endcomment -%}
    <main class="container page-content w-100" aria-label="Content">
      <div class="row">
        <aside class="col-12 col-md-3 text-left">
          {%- include sidebar/container.html -%}
        </aside>
        <div class="col-12 col-md-9 wrapper">
          {{ content }}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

</html>