<nav class="sidebar">
    <div class="sidebar-inner">
        <h4 class="sidebar-title"><a class="text-decoration-none" href="{{ "/" | relative_url }}">Jay's blog</a></h4>
        <ul class="sidebar-list list-unstyled p-0">
            <li><a class="side_link text-decoration-none" href="{{ "/" | relative_url }}">All</a></li>
            <li><a class="side_link text-decoration-none" href="{{ "/about" | relative_url }}">About</a></li>
            <li class="mt-2"><strong>Categories</strong></li>
            {% for category in site.categories %}
                <li>{% capture category_name %}{{ category | first }}{% endcapture %}
                    <a class="side_link text-decoration-none" href="{{ "/" | relative_url }}?category={{ category_name }}">{{ category_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>